<extend name="RBAC:base" />
<block name="content-title">
<h4>积分兑换订单</h4>
<!--<a style="float:right;margin:10px;" href="{twotree#:U('add')}" class="btn">添加</a> -->
</block>
<block name="content">
    <style>
        input[type='text']{border-radius:3px;padding: 3px 5px;border:1px solid #CCC}
    </style>
          <div class="tab-content default-tab" id="tab1">
          
            <div class="notification success png_bg" id="dmsg" style="display:none">
              <a href="#" class="close"><img src="__PUBLIC__/Images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
              <div>
                订单提示！
              </div>
            </div>
            
            <p>
                搜索：
                <select name="key">
                    <option value="order_sn">订单编号</option>
                    <option value="consignee">收货人</option>    
                    <option value="mobile">联系电话</option>    
                </select>
                <input value="{twotree#$Think.get.val}" name="val" type="text" class="text-input small-input" placeholder="关键字"/>
                <input id='btn-so' type="button" value="搜索" class="button"/>
                &nbsp;&nbsp;&nbsp;
                <a  href="{twotree#:U('index')}">查看全部</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn <eq name='Think.get.order_status' value='1'>btn-danger</eq>" href="{twotree#:U('index',array('order_status'=>1))}">未发货</a>
                <a class="btn <eq name='Think.get.order_status' value='2'>btn-success</eq>" href="{twotree#:U('index',array('order_status'=>2))}">已发货</a>
                <a class="btn <eq name='Think.get.order_status' value='3'>btn-success</eq>" href="{twotree#:U('index',array('order_status'=>3))}">已签收</a>
                
            </p>
            <table>
              <thead>
                <tr>
                   <th><input class="check-all" type="checkbox" /></th>
                   <th>订单编号</th>
                   <th>收货人</th>
                   <th>联系电话</th>
                   <th>订单金额</th>
                   <th>商品总价</th>
                   <th>订单状态</th>
                   <th>下单时间</th>
                   <th>操作</th>
                </tr>
              </thead>

              <tbody>
                <volist name="list" id="v">
                <tr>
                  <td><input type="checkbox" /></td>
                  <td><a title="点击查看" href="{twotree#:U('edit',array('id'=>$v['id']))}">{twotree#$v.order_sn}</a></td>
                  <td>{twotree#$v.consignee}</td>
                  <td>{twotree#$v.mobile}</td>
                  <td><b>&yen; </b>{twotree#$v.total_fee}</td>
                  <td><b>&yen; </b>{twotree#$v.total_price}</td>
                  <!--<td><a class="btn"><eq name="v.is_confirm" value="1">已确认<else/><font color="red">未确认</font></eq></a></td>-->
                  <td><a class="btn">{twotree#$v.order_status|order_status}</a></td>
                 <!-- <td>
                  <a class="btn" title="修改订单支付状态" href="{twotree#:U('update_pay_status',array('order_id'=>$v['id'],'p'=>I('get.p','1')))}">
                  <eq name="v.pay_status" value="1">已支付<else/><font color="red">未支付</font></eq>
                  </a></td>-->
                  <td>{twotree#$v.order_time|date='Y-m-d H:i:s',###}</td>
                  <td>
                    <a class="btn btn-success" href="{twotree#:U('order_edit',array('id'=>$v['id']))}">详情</a>
                    <a class="btn btn-danger" onclick="return confirm('确定删除？')" href="{twotree#:U('order_del',array('id'=>$v['id']))}">删除</a>
                  </td>
                </tr>
                </volist>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="10">
                    <div class="pagination">
                      {twotree#$show}
                    </div>
                    <div class="clear"></div>
                  </td>
                </tr>
              </tfoot>              
            </table>
          </div> <!-- End #tab1 -->  
      <script type='text/javascript'>
          $(function(){
              $("#btn-so").click(function(){
                  var key=$("select[name='key'] option:selected").val();
                  var val=$("input[name='val']").val();
                  if(val==''){
                      //alert('请输入关键字！')
					  artDialog({content:'请输入关键字！', style:'alert', lock:false}, function(){});
                  }else{
                      location.href+="&key="+key+'&val='+val;
                  }
                  
              });
              $('.auth').click(function(){
                  $.post("{twotree#:U('auth')}",{'id':$(this).attr('uid')},function(data){
                      data=JSON.parse(data);
                      alert(data.msg);
                      if(data.flag==1){
                          location.reload();
                      }
                  }, "json");
              });
          })
      </script>
</block>  
