<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <meta charset="utf-8">
        <title>叮咕商城-管理中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- CSS -->
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="__PUBLIC__/login/css/reset.css">
        <link rel="stylesheet" href="__PUBLIC__/login/css/supersized.css">
        <link rel="stylesheet" href="__PUBLIC__/login/css/style.css">
		<script src="__PUBLIC__/login/js/jquery-1.8.2.min.js"></script>
        <script src="__PUBLIC__/login/js/supersized.3.2.7.min.js"></script>
        <script src="__PUBLIC__/login/js/supersized-init.js"></script>
        <script src="__PUBLIC__/login/js/scripts.js"></script>
		<style>
            .login-title {
                color: #FE5102;
                font-size: 48px;
                font-weight: 900
            }
            
            .login-box {
                border: 0px solid #9D7EF7;
                width: 45%;
                border-radius: 10px;
                padding: 50px 0px;
                margin-top: 50px;
                min-width: 320px;
                box-shadow: 0 0 20px #0CC
            }
        </style>
    </head>

    <body>
        <div class="page-container login-box">
            <h1 class='login-title'>管理中心</h1>
            <!--<img src="./logo.jpg">-->
            <form action="/Ceo/Login/login" method="post">
                <input type="text" name="username" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密 码">
                <button type="submit"> 登 录 </button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect" style="width:100%">
                <p>Copyright © 2015 叮咕商城 版权所有</p>
                <br/>
            </div>
        </div>
    </body>

</html>