<extend name="RBAC:base" />
<block name="content-title">
<h4>邮件服务器设置</h4>  
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
            <form method="post" action="{twotree#:U('email')}">
             	<p>
                   邮件服务器：<input type="text" name="host"  class="text-input small-input" value="{twotree#$info.host}" placeholder="邮件服务器地址" required> 
                </p>
                <p>
                   账户名　　：<input type="text" name="user"  class="text-input small-input" value="{twotree#$info.user}" placeholder="邮箱账户名" required> 
                </p>
                <p>
                   账户密码　：<input type="text" name="pwd"  class="text-input small-input" value="{twotree#$info.pwd}" placeholder="邮箱账户密码" required> 
                </p>
                <p>
                   发件人昵称：<input type="text" name="nickname"  class="text-input small-input" value="{twotree#$info.nickname}" placeholder="发件人昵称" required> 
                </p>                    
               <p>
                  <input type="submit" value="保存设置" class="button">
                </p>
              <div class="clear"></div>
            </form>
</div>
<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->
<script>
//单图上传
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#image1').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url1').val(url);
						editor.hideDialog();
					}
				});
			});
		});
		K('#image2').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url2').val(url);
						editor.hideDialog();
					}
				});
			});
		});
	});
</script>
</block>