<extend name="RBAC:base" />
<block name="content-title">
<h4>佣金分配比例设置</h4>  
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
            <form method="post" action="{twotree#:U('resale')}">
             	<p>
                   一级分销：<input type="text" name="parent_1"  class="text-input small-input num" value="{twotree#$info.parent_1}" placeholder="一级分销佣金百分比" required> %
                </p>
                <p>
                   二级分销：<input type="text" name="parent_2"  class="text-input small-input num" value="{twotree#$info.parent_2}" placeholder="二级分销佣金百分比" required> %
                </p>                 
               <p>
                  <input type="submit" value="保存设置" class="button">
                </p>
              <div class="clear"></div>
            </form>
</div>
<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->
<script>
$(function(){
	$("form").submit(function(){
		var parent_1=$("input[name='parent_1']").val();
		var parent_2=$("input[name='parent_2']").val();
		if(parseFloat(parent_1)>100||parseFloat(parent_2)>100){
			artDialog({content:'分佣百分比不能大于100%！', style:'alert', lock:false}, function(){});
			return false;
		}
		
		if(parseFloat(parent_1)+parseFloat(parent_2)>100){
			artDialog({content:'两级分佣百分比之和不能大于100%！', style:'alert', lock:false}, function(){});
			return false;
		}
	});
})
//单图上传
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#image1').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url1').val(url);
						editor.hideDialog();
					}
				});
			});
		});
		K('#image2').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url2').val(url);
						editor.hideDialog();
					}
				});
			});
		});
	});
</script>
</block>