<extend name="RBAC:base" />
<block name="content-title">
<h4>数据库备份</h4>  
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
    <form method="post" action="{twotree#:U('Database/back')}">
        <p>
           备份类型：<select name="back_type">
                    <option value="1">完全备份</option>
                    </select>
                    <input type="submit" value="备份" class="button">
       </p>  			
      <div class="clear"></div>
    </form>
    <table>
      <thead>
        <tr>
           <th>表名</th>
           <th>表类型</th>
           <th>记录数</th>
           <th>注释</th>
           <th>操作</th>
        </tr>
      </thead>

      <tbody>
        <volist name="list" id="item">
            <tr>
              <td>{twotree#$item.Name}</td>
              <td>{twotree#$item.Engine}</td>
              <td>{twotree#$item.Rows}</td>
              <td>{twotree#$item.Comment}</td>
              
              <td>
              <a href="{twotree#:U('click',array('table'=>$item['Name'],'do'=>'optimize'))}" title="优化表" class="btn btn-success">优化表</a>
              <a href="{twotree#:U('click',array('table'=>$item['Name'],'do'=>'repair'))}" title="优化表" class="btn btn-success">修复表</a>  
              </td>
            </tr>
        </volist>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="6">
            <div class="pagination">
              {twotree#$show}
            </div>
            <div class="clear"></div>
          </td>
        </tr>
      </tfoot>              
    </table>
</div>
</block>