<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>叮咕-校园CEO后台管理中心</title>
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="__PUBLIC__/Css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="__PUBLIC__/Css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="__PUBLIC__/Css/invalid.css" type="text/css" media="screen" />
        <!--字体图标-->
        <link rel="stylesheet" href="__PUBLIC__/fonts/font-awesome.min.css" type="text/css" />
        <!--/字体图标-->
        <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Js/simpla.jquery.configuration.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Js/jquery.wysiwyg.js"></script>
        <!--公共js-->
        <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
        <!--公共js-->
        <!--artdialog-->
        <script type="text/javascript" src="__PUBLIC__/Js/artDialog/artDialog.js?skin=green"></script>
        <!--artdialog-->
        <script type="text/javascript" src="__PUBLIC__/Js/datepicker/WdatePicker.js"></script>
    </head>

    <body>
        <!--topbar-->
        <div class='topbar'>
            <h2 class='align-left'><a href="{:U('Index/index')}" style="color:#FFF;font-size:20px">叮咕-校园CEO管理中心</a></h2>
            <div class='align-right' style="margin-right:20px;">
                <i id='user-curr' class="fa fa-user" style="font-size:30px;color:#FFF;cursor:pointer"></i>
            </div>
            <div class="clear"></div>
            <div class='align-right user-info'>
                <ul>
                    <li><b>{:I('session.username')}</b>
                        <neq name="role_name" value="">【{$role_name}】</neq>
                        <eq name="Think.session.uid" value="1">【超级管理员】</eq>
                    </li>
                    <li><i class="fa fa-power-off v-middle" style="font-size:20px;"></i> &nbsp;&nbsp;
                        <a href="{:U('Login/logout')}" style="color:#666;font-weight:700">安全退出</a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!--topbar-->

        <div id="body-wrapper">
            <block name="left">
                <include file="Index:left" />
            </block>
            <!-- 左侧列表 -->
            <div id="main-content">
                <div class="clear"></div>
                <div class="content-box" id="main-box">
                    <div class="content-box-header">
                        <block name="content-title">
                            <h4>管理员列表</h4></block>
                        <div class="clear"></div>
                    </div>
                    <div class="content-box-content">
                        <block name="content">

                        </block>
                    </div>
                    <!-- End .content-box-content -->
                </div>
                <!-- End .content-box -->

                <div class="clear"></div>
                <div id="footer">
                    <block name="foot">
                        <small>
                            Copyright  &#169;  2015 叮咕商城 版权所有  | Powered by <a href="#">叮咕商城</a> | <a href="#">Top</a>
                        </small>
                    </block>
                </div>
                <!-- End #footer -->
            </div>
            <!-- End #main-content -->
        </div>
    </body>

</html>