<extend name="RBAC:base" />
<block name="jq">

<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>-->

</block>
<block name="content-title">
<h3>新增</h3>  
<a href="{twotree#:U('index')}" class='btn align-right' style="margin:5px 10px;">返回</a>
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
<!--ueditor-->
<!--<link href="/plugins/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>	-->
<!--ueditor-->

<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->

<!--uploadify-->
<script src="/plugins/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link href="/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css" >
<!--uploadify-->
<style type="text/css">
.btn-del{background-color:#C00;padding:5px;color:white;border-radius:3px;border:0;cursor:pointer}
</style>
		
<form method="post" action="{twotree#:U('add')}" enctype="multipart/form-data">
    <fieldset>
    <p>
        省　　份：<select id="province" name="prov_id">
            	<option value="">-省份-</option>
            </select>
    </p>
    <p>
        城　　市：<select id="city" name="city_id">
            	<option value="">-城市-</option>
            </select>
    </p>
    <p>
        地　　区：<select id="district" name="county_id">
                <option value="">-区县-</option>
            </select>
    </p>
   	<p>
     学校名称：<input class="text-input small-input" name="name" placeholder="学校名称" required/>
    </p>
	<p>
		<input type="submit" value="  提 交  " class="button">
	</p>
    </fieldset>
	<div class="clear"></div>
</form>

</div>
<script>
$(".btn-so").click(function(){
	var keyword=$('#keyword').val();
	if(keyword==''){
		alert('请输入关键词');
	}else{
		location.href="{twotree#:U('add')}&"+'keyword='+keyword;
	}
});
function del(obj){
	if(!confirm('确认删除?')){
		return false;
	}
	$(obj).parent().remove();
}
</script>
<script>
	KindEditor.ready(function(K) {
		//初始化编辑器
		var editor1 = K.create('textarea[name="content"]', {
			cssPath : '/plugins/kindeditor/plugins/code/prettify.css',
			uploadJson : '/plugins/kindeditor/php/upload_json.php',
			fileManagerJson : '/plugins/kindeditor/php/file_manager_json.php',
			allowFileManager : true,
			afterCreate : function() {}
		});
		prettyPrint();
	});
	/*$(function() {
		var editor = KindEditor.create('textarea[name="content"]');
	});*/
	//单图上传
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#image1').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url1').val(url);
						editor.hideDialog();
					}
				});
			});
		});
	});
	//批量上传图片
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#J_selectImage').click(function() {
			editor.loadPlugin('multiimage', function() {
				editor.plugin.multiImageDialog({
					clickFn : function(urlList) {
						var div = K('#J_imageView');
						div.html('');
						K.each(urlList, function(i, data) {
							div.append('<img src="' + data.url + '">');
						});
						editor.hideDialog();
					}
				});
			});
		});
	});
</script></block>