.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.center {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BACKGROUND: #fff; MARGIN-LEFT: auto; BORDER-LEFT: gray 1px solid; WIDTH: 70%; MARGIN-RIGHT: auto; BORDER-BOTTOM: gray 1px solid
}
.header1 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #ddd; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.footer {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #ddd; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.ad-left {
	LEFT: 6px; POSITION: absolute; TOP: 100px; 
}
.ad-right {
	RIGHT: 6px; POSITION: absolute; TOP: 100px
}
.content {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: left
}
.content .list {
	PADDING-BOTTOM: 20px; MARGIN: 20px; BORDER-BOTTOM: gray 1px dotted
}
H5 {
	MARGIN: 0px
}
PRE {
	PADDING-RIGHT: 2px! important; PADDING-LEFT: 2px! important; PADDING-BOTTOM: 2px! important; MARGIN: 5px 10px 10px; PADDING-TOP: 2px! important; WORD-WRAP: break-word
}
PRE {
	CURSOR: pointer
}
PRE:hover {
	BACKGROUND: gray
}
#dialog1-overlay {
	BACKGROUND: blue; filter:alpha(opacity=80);opacity: 0.8; width:100%;
}
#dialog2 .content {
	WIDTH: 95%; HEIGHT: 500px
}
.dialog-overlay {
	BACKGROUND: gray; filter:alpha(opacity=80);opacity: 0.8; width:100%;
}
.dialog {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; opacity: 0.9; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width:300px;
}
.dialog .bar {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; MIN-HEIGHT: 25px; background:#FFF; PADDING-BOTTOM: 6px; CURSOR: move; COLOR: #fff; PADDING-TOP: 6px; height:20px;
}
.dialog .bar .title {
	FLOAT: left; MARGIN-RIGHT: 10px; display:none; 
}
.dialog .bar .close {
	FLOAT: right; CURSOR: pointer; TEXT-DECORATION: underline; 
}
.dialog .content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; overflow:auto;
}
.dialog IFRAME {
	WIDTH: 1000px; HEIGHT: 500px;
}
.content IMG {
	MAX-WIDTH: 700px; OVERFLOW: auto; MAX-HEIGHT: 500px
}
