<extend name="RBAC:base" />
<block name="content-title">
<h4>公众号设置</h4>  
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
    <div class="notification success png_bg" id="dmsg">
        <a href="#" class="close">
        <img src="__PUBLIC__/Images/icons/cross_grey_small.png" alt="close" /></a>
        <div>
        	<font style="font-weight:700">重要信息，请认真填写</font>
        </div>
    </div>
            <form method="post" action="{twotree#:U('confHandle')}">
              <fieldset>
                <p>
                    公众号名称　：<input required="" type="text" name="pubchatname" id="small-input" class="text-input small-input" value="{twotree#$conf.pubchatname}"> 
                </p>

                <p>
                    公众号ID　　：<input required="" type="text" name="pubchatid" id="small-input" class="text-input small-input" value="{twotree#$conf.pubchatid}"> 
                </p>
                <p>
                    TOKEN&nbsp;&nbsp;　　：<input required="" type="text" name="token" id="small-input" class="text-input small-input" value="{twotree#$conf.token}"> 
                </p>                
                <p>
                   APPID　　　：<input type="text" name="appid" id="small-input" class="text-input small-input" value="{twotree#$conf.appid}"> 
                </p>                
                <p>
                   APPSECRET：<input type="text" name="appsecret" id="small-input" class="text-input small-input" value="{twotree#$conf.appsecret}"> 
                </p> 
                <p>
                   商户号　　　：<input type="text" name="mchid" id="small-input" class="text-input small-input" value="{twotree#$conf.mchid}"> 
                </p>
                <p>
                   支付秘钥　　：<input type="text" name="partnerkey" id="small-input" class="text-input small-input" value="{twotree#$conf.partnerkey}"> 
                </p>               
               <!-- <p>
                    是否开启　　：<input type="radio" name="pubchatcheck" value="1" checked="checked"/>&nbsp;开启&nbsp;
                              <input type="radio" name="pubchatcheck" value="0"/>&nbsp;关闭&nbsp;
                </p>-->
              
                <p>
                  <input type="submit" value="保 存" class="button">
                </p>
                <p>
                  接口地址　　：<a target='_blank' href="/?g=Wx&token={twotree#$conf.token}">http://{twotree#:I('server.HTTP_HOST')}/?g=Wx&token={twotree#$conf.token}</a>
                  <font style="color:">&nbsp;微信公众平台【服务器地址URL】</font>
                </p>
              </fieldset>
              <div class="clear"></div>
            </form>
</div>
</block>