<extend name="RBAC:base" />
<block name="content-title">
<h4>品牌管理</h4>  
<a style="margin:6px 10px;float:right" class="btn" href="{twotree#:U('add')}">添加品牌</a> 
</block>
<block name="content">
          <div class="tab-content default-tab" id="tab1">
            <div class="notification png_bg" id="dmsg" style="display:none;">
              <a href="#" class="close"><img src="__PUBLIC__/Images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
              <div>
                msg.
              </div>
            </div>
            <table>
              <thead>
                <tr>
                   <th>品牌ID</th>
                   <th>品牌名称</th>
                   <th>品牌LOGO</th>
                   <th>所属分类</th>
                   <th>排序</th>
                   <th>操作</th>
                </tr>
              </thead>

              <tbody>
                <volist name="list" id="v">
                    <tr>
                      <td>【{twotree#$v.id}】</td>
                      <td><a href="#">{twotree#$v.name}</a></td>
                      <td>
                      <neq name="v.spic" value="">
                          <php>
                          $picurl=base64_encode($v['spic']);
                          </php>
                          <a rel="modal" title="查看原图" href="{twotree#:U('Index/show_img',array('picurl'=>$picurl))}" target="_blank">
                          <img src="{twotree#$v.spic}" class='thumb'></a>
                      </neq>
                      
                      </td>
                      <td>
                          <neq name="v.cid" value="0">
                            {twotree#$v.cid}
                          <else />
                           暂无分类
                          </neq>
                      </td>
                      <td><a class='btn'>{twotree#$v.list}</a></td>
                      <td>
                         <a class="btn btn-success" href="{twotree#:U('edit',array('id'=>$v['id']))}">编辑</a>
                         <a class="btn btn-danger" href="{twotree#:U('del',array('id'=>$v['id']))}" onClick="return confirm('是否删除?')">删除</a> 
                      </td>
                    </tr>
                </volist>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="5">
                    <div class="pagination">
						{twotree#$show}
                    </div>
                    <div class="clear"></div>
                  </td>
                </tr>
              </tfoot>              
            </table>
          </div> <!-- End #tab1 -->  
</block>  
