<extend name="RBAC:base" />
<block name="content-title">
    <h4>订单管理</h4>
</block>
<block name="content">
    <style>
        select,
        input[type='text'] {
            border-radius: 3px;
            padding: 3px 5px;
            border: 1px solid #CCC
        }
    </style>
    <div class="tab-content default-tab" id="tab1">
        <div>
			<form action="{:U('index')}" method="GET" onsubmit="return check();" style="display:inline;">
				<select name="key">
					<option value="order_sn">订单编号</option>
					<option value="consignee">收货人</option>
					<option value="mobile">联系电话</option>
				</select>
				<input style="width:150px;" value="{$Think.get.val}" name="val" type="text" class="text-input" placeholder="关键字" />下单时间：
				<input style="width:130px;" value="{$Think.get.begin_time}" name="begin_time" type="text" class="text-input" placeholder="起始时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />~
				<input style="width:130px;" value="{$Think.get.end_time}" name="end_time" type="text" class="text-input" placeholder="截止时间" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
				<input type="submit" value="搜索" class="button" /> &nbsp;&nbsp;&nbsp;
			</form>
			<a href="{:U('index')}">查看全部</a> &nbsp;&nbsp;&nbsp;
			<a class="btn <eq name='Think.get.order_status' value='1'>btn-danger</eq>" href="{:U('index',array('order_status'=>1))}">未发货</a>
			<a class="btn <eq name='Think.get.order_status' value='2'>btn-success</eq>" href="{:U('index',array('order_status'=>2))}">已发货</a>
			<a class="btn <eq name='Think.get.order_status' value='3'>btn-success</eq>" href="{:U('index',array('order_status'=>3))}">已签收</a>
		</div>
        <table>
            <thead>
                <tr>
                    <th>订单编号</th>
                    <th>收货人</th>
                    <th>联系电话</th>
                    <th>订单金额</th>
                    <th>商品总价</th>
                    <th>订单状态</th>
                    <th>支付状态</th>
                    <th>下单时间</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <volist name="list" id="v">
                    <tr>
                        <td><a title="点击查看" href="{:U('edit',array('id'=>$v['id']))}">{$v.order_sn}</a></td>
                        <td>{$v.consignee}</td>
                        <td>{$v.mobile}</td>
                        <td><b>&yen; </b>{$v.total_fee}</td>
                        <td><b>&yen; </b>{$v.total_price}</td>
                        <td><a class="btn">{$v.order_status}</a></td>
                        <td>
                            <a class='btn'>
                                <eq name="v.pay_status" value="1">已支付
                                    <else/><font color="red">未支付</font>
								</eq>
                            </a>
                        </td>
                        <td>{$v.order_time|date='Y-m-d H:i:s',###}</td>
                        <td>
                            <a class="btn btn-success" href="{:U('student_order_detail',array('id'=>$v['id']))}">详情</a>
                        </td>
                    </tr>
                </volist>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="1">
                        <span>总计：￥{$total}</span>
                    </td>
                    <td colspan="2">
                        <span>筛选总计：￥{$filterTotal}</span>
                    </td>
                    <td colspan="6">
                        <div class="pagination">
                            {$show}
                        </div>
                        <div class="clear"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- End #tab1 -->
    <script type='text/javascript'>
		function check() {
			var param = '';
			var key = $("select[name='key'] option:selected").val();
			var val = $("input[name='val']").val();
			var begin_time = $("input[name='begin_time']").val();
			var end_time = $("input[name='end_time']").val();
			if (key != '' && val != '') {
				param += "&key=" + key + '&val=' + val;
			}
			if (begin_time != '') {
				param += '&begin_time=' + begin_time;
			}
			if (end_time != '') {
				param += '&end_time=' + end_time;
			}
			if (param == '') {
				alert('请输入搜索条件！');
				return false;
			}
		}
    </script>
</block>