<extend name="RBAC:base" />
<block name="content-title">
<h4>修改密码</h4>  
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
            <form method="post" action="{twotree#:U('pwd',array('id'=>I('get.id')))}">
              <fieldset>
              	<p>
              		账户名：{twotree#$info.username}
              	</p>
              	<p>
              		新密码：<input name="password"  class="text-input small-input"/>
              	</p>        
                <p>
                  <input type="submit" value="提 交" class="button">
                </p>
              </fieldset>
              <div class="clear"></div>
            </form>
</div>
</block>