<html>
    <head>
        <meta charset="utf-8"/>
        <title>ajax测试</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    </head>
    <body>
        <div>这是ajax测试页面</div>
        <ul>
            <?php foreach ($data as $key => $val) : ?>
                <li><?php echo $val; ?></li>
            <?php endforeach; ?>
        </ul>
    </body>
</html>