<extend name="RBAC:base" />
<block name="content-title">
<h4>快递公司列表</h4>  
<a href="{twotree#:U('add')}" style="float: right;font-weight: 700;margin:5px 10px;" class="btn">新增</a>
</block>
<block name="content">
          <div class="tab-content default-tab" id="tab1">
            <div class="notification png_bg" id="dmsg" style="display:none;">
              <a href="#" class="close"><img src="__PUBLIC__/Images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
              <div>
                msg.
              </div>
            </div>
            <table>
              <thead>
                <tr>
                   <th>ID</th>
                   <th>快递名称</th>
                      <th>物流代码</th>
                  <!-- <th>快递费用</th>-->
                   <th>状态</th>
                   <th>描述</th>
                   <th>操作</th>
                </tr>
              </thead>

              <tbody>
                <volist name="list" id="v">
                    <tr>
                      <td>【{twotree#$v.id}】</td>
                      <td>{twotree#$v.name}</td>
                      <td>{twotree#$v.daima}</td>
                      <!--<td>{twotree#$v.price}</td>-->
                      <td><a class="btn"><eq name="v.status" value='1'>可　用<else/>不可用</eq></a></td>
                      <td>{twotree#$v.descript}</td>
                      <td>
                        <a class="btn btn-success" href="{twotree#:U('edit',array('id'=>$v['id']))}" >修改</a>                  	
                        <a class="btn btn-danger" href="{twotree#:U('del',array('id'=>$v['id']))}" onClick="return confirm('确定要删除?')" >删除</a> 
                      </td>
                    </tr>
                </volist>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="6">
                    <div class="bulk-actions align-left">
                    </div>
                    <div class="pagination">
                      {twotree#$show}
                    </div>
                    <div class="clear"></div>
                  </td>
                </tr>
              </tfoot>              
            </table>
          </div> <!-- End #tab1 -->  
</block>  
