<extend name="RBAC:base" />
<block name="content">
    <div class="content-box column-left">
        <div class="content-box-header">
            <h4>店长统计</h4></div>
        <table>
            <thead>
                <tr>
                    <th>店长总数：</th>
                    <td>{$count_info.shop_nums}</td>
                    <td><a href="{:U('Shop/index')}" class='button'>查看</a></td>
                </tr>
                <tr>
                    <th>待审核店铺：</th>
                    <td>{$count_info.audit_shop}</td>
                    <td><a href="{:U('Shop/audit')}" class='button'>查看</a></td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="content-box column-right">
        <div class="content-box-header">
            <h4>今日订单统计</h4></div>
        <table>
            <tbody>
                <tr>
                    <th>学生订单：</th>
                    <th>{$count_info.user_order_total}</th>
                </tr>
                <tr>
                    <th>店长订单：</th>
                    <th>{$count_info.shop_order_total}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
    <script>
        $(function() {
            $("#main-box>.content-box-header").css('display', 'none');
            $("#main-box").css("border-top", '1px');
        });
    </script>
</block>