<extend name="RBAC:base" />
<block name="content-title">
<h4>店铺列表</h4> 
</block>
<block name="content">
          <div class="tab-content default-tab" id="tab1">
            <div class="notification png_bg" id="dmsg" style="display:none;">
              <a href="#" class="close"><img src="__PUBLIC__/Images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
              <div>
                msg.
              </div>
            </div>
            <table>
              <thead>
                <tr>
                   <th>ID</th>
                   <th>店铺名称</th>
                   <!--<th>店铺等级</th>-->
                   <th>审核状态</th>
                   <th>开店时间</th>
                
                   <th>操作</th>
                </tr>
              </thead>

              <tbody>
                <volist name="list" id="v">
                    <tr>
                      <td>【{twotree#$v.id}】</td>
                      <td>{twotree#$v.shop_name}</td>
                      <!--<td>{twotree#$level_list[$v['user_level']]['title']}</td>-->
                      <td><a class="btn">
                      <switch name="v.status">
                      	<case value="0"><font color="red">等待审核</font></case>
                        <case value="1">通过审核</case>
                        <case value="2"></case>
                      </switch>
                      </a>
                      </td>
                      <td>{twotree#$v.posttime|date='Y-m-d',###}</td>
                      
                      <td>
                        <a class="btn btn-success" href="{twotree#:U('edit',array('id'=>$v['id']))}"> 编辑</a>
                      </td>
                    </tr>
                </volist>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="6">
                    <div class="bulk-actions align-left">
                    </div>
                    <div class="pagination">
                      {twotree#$show}
                    </div>
                    <div class="clear"></div>
                  </td>
                </tr>
              </tfoot>              
            </table>
          </div> <!-- End #tab1 -->  
</block>  
