<extend name="RBAC:base" />
<block name="content-title">
<h4>分销商列表</h4> 
<!--<a style="float:right;margin:10px;" href="{twotree#:U('add')}" class="btn">添加</a> -->
</block>
<block name="content">
          <div class="tab-content default-tab" id="tab1">
       
            <table width='100%'>
              <thead>
                <tr>
                <th>排名</th>
                   <th>UID</th>
                   <th>账户名</th>
                   <th>头像</th>
                   <!--<th>等级</th>-->
                   
                   <th>昵称</th>
                   <th>姓名</th>
                   <th>电话</th>
                   <th>邀请码</th>
                   <th>邀请数</th>
                  
                   <th>注册时间</th>
                   
                </tr>
              </thead>

              <tbody>
                <volist name="list" id="v" key="i">
                    <tr>
                       <td>{twotree#$i}</td>
                      <td>【{twotree#$v.id}】</td>	
                      <td>{twotree#$v.username}</td>	
                      <td>
                      <neq name="v.headimgurl" value="">
                      <php>
                      $picurl=base64_encode($v['headimgurl']);
                      </php>
                      <a rel="modal" title="查看原图" href="{twotree#:U('Index/show_img',array('picurl'=>$picurl))}" target="_blank"><img src="{twotree#$v.headimgurl}" class='thumb'></a></neq>
                      </td>
                     <!-- <td>
                      {twotree#$user_level[$v['user_level']]['title']}
                      </td>-->
                   
                      <td>
                     {twotree#$v.nickname|mb_substr=###,0,8,'utf-8'|default='暂无'}
                      </td>
                      <td>{twotree#$v.name}</td>
                      <td>{twotree#$v.mobile}</td>
                      <td>{twotree#$v.invite_code}</td>
                      <td><a href="{twotree#:U('store',array('id'=>$v['id']))}" title="点击查看下级店铺">{twotree#$v.invite_num}</a></td>
                      
                      <td>
                      <eq name="v.posttime" value='0'>
                      暂无
                      <else/>{twotree#$v.posttime|date='Y-m-d H:i:s',###}
                      </eq>
                      </td>
                     
                    </tr>
                </volist>
              </tbody>
             
            </table>
          </div> <!-- End #tab1 -->  
</block>  
