<extend name="RBAC:base" />
<block name="jq"><script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script></block>
<block name="content-title">
<h4><if condition="I('get.id') gt 0">[修改]<else/>[新增]</if>栏目</h4>  
<a href="{twotree#:U('sortlist')}" style="float: right;margin:5px 10px;" class="btn">返回</a>

</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
<!--ueditor-->
<link href="/plugins/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--ueditor-->

<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->
	
            <form method="post" action="{twotree#:U('sortaddhandle',array('id'=>I('get.id')))}" enctype="multipart/form-data">
              <fieldset>
                <p>
                    栏目名称：<input required="required" type="text" name="name" id="small-input" class="text-input small-input" value="{twotree#$nrs.name}"> 
                </p>
                <p>
                    所属上级：<select name="fup">
                    		<option value="0">不选择默认顶级</option>
                    		<volist name="sortd" id="v">
                    			<option value="{twotree#$v.id}" <if condition="$nrs['fup'] eq $v['id']">selected</if>>{twotree#$v.name}</option>
                    		</volist>
                			</select>	
                </p>
                <p>
                	栏目类型：

                    <input type="radio" name="type" value="0" <if condition="$nrs['type'] eq 0">checked="checked"</if>/>&nbsp;分类&nbsp;
                    <input type="radio" name="type" value="1" <if condition="$nrs['type'] eq 1">checked="checked"</if> />&nbsp;栏目&nbsp;
                    <input type="radio" name="type" value="2" <if condition="$nrs['type'] eq 2">checked="checked"</if>/>&nbsp;单篇&nbsp;
                </p>
               <!-- <p>
                    <span id='addfile'>缩 略 图</span>：
                    <input id="tu1" type="file" onchange="document.getElementById('tu11').value=this.value;" style="display:none;" name="spic[]">
                    <input readonly='readonly' id="tu11" value="{twotree#$nrs.spic}" class="text-input small-input" type="text">&nbsp;
                    <a class="btn" onclick="document.getElementById('tu1').click();">选择图片</a>
                    <font style="color:red">&nbsp;【图片大小不能超过2M】</font>
                </p>-->
                <p>
                缩 略 图：
                    <input readonly name="spic" type="text" id="url1" value="{twotree#$nrs.spic}" class="text-input small-input"/> 
                    <input type="button" id="image1" value="选择图片" class="button"/>
                    <font style="color:red">&nbsp;【图片大小不能超过1M】</font>
                </p>
                <p>
                    外链地址：<input type="text" name="url" id="small-input" class="text-input small-input" value="{twotree#$nrs.url}"> 
                </p>
              <!--   
                <p>
                    列表模板：<input type="text" name="list_html" id="small-input" class="text-input small-input" value="{twotree#$nrs.list_html}"> 
                </p>
                <p>
                    内容模板：<input type="text" name="bencandy_html" id="small-input" class="text-input small-input" value="{twotree#$nrs.bencandy_html}"> 
                </p>-->
			    <p>
			    	文章内容：<textarea id="myEditor" name="descrip" style="height:300px;">{twotree#$nrs.descrip|htmlspecialchars_decode|stripslashes}</textarea>
			    </p>                 

                <p>
                  <input type="submit" value="  提 交  " class="button">
                </p>
              </fieldset>
              <div class="clear"></div>
            </form>
</div>
<script type="text/javascript">
	//var um = UM.getEditor('myEditor');
</script>
<script>
KindEditor.ready(function(K) {
	var editor1 = K.create('textarea[name="descrip"]', {
		cssPath : '/plugins/kindeditor/plugins/code/prettify.css',
		uploadJson : '/plugins/kindeditor/php/upload_json.php',
		fileManagerJson : '/plugins/kindeditor/php/file_manager_json.php',
		allowFileManager : true,
		afterCreate : function() {
		}
	});
	prettyPrint();
});
//单图上传
KindEditor.ready(function(K) {
	var editor = K.editor({
		allowFileManager : true
	});
	K('#image1').click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				imageUrl : K('#url1').val(),
				clickFn : function(url, title, width, height, border, align) {
					K('#url1').val(url);
					editor.hideDialog();
				}
			});
		});
	});
});
</script>
</block>