<extend name="RBAC:base" />
<block name="jq"><script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script></block>
<block name="content-title">
<h3>修改友情链接</h3>  
<a href="{twotree#:U('index')}" style="font-weight: 700;margin:5px 10px;" class="btn align-right">返回</a>
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">		
<form method="post" action="{twotree#:U('edit',array('id'=>I('get.id')))}" enctype="multipart/form-data">
    <fieldset>
        <input type="hidden" name="linkid" value="{twotree#$info.linkid}"> 
    <p>
        链接标题：
        	<input type="text" name="linkname"  class="text-input small-input" value="{twotree#$info.linkname}"> 
    </p>
    <p>
        链接地址：
                <input type="text" name="linkurl"  class="text-input small-input" value="{twotree#$info.linkurl}" placeholder='链接地址格式http://www.baidu.com'>
    </p>
    <p>
        链接排序：
                <input type="text" name="linklist"  class="text-input small-input" value="{twotree#$info.linklist}" placeholder='顺序排列'>
    </p>
    <p>
        是否显示：
        	<select name="linktype">
                    <option value="1" <if condition="$linkdata.linktype eq 1">selected</if>>显示</option>
                    <option value="0" <if condition="$linkdata.linktype eq 0">selected</if>>隐藏</option>
                </select>
    </p>
    <p>
        链接logo：
         <input readonly name="linklogo" type="text" id="url1" value="{twotree#$nrs.spic}" class="text-input small-input"/> 
    	 <input type="button" id="image1" value="选择图片" class="button"/>
    </p> 
    <p>
        <input type="submit" value="  提 交  " class="button">
    </p>
    </fieldset>
	<div class="clear"></div>
</form>
</div>
<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->
<script>
	KindEditor.ready(function(K) {
		//初始化编辑器
		var editor1 = K.create('textarea[name="content"]', {
			cssPath : '/plugins/kindeditor/plugins/code/prettify.css',
			uploadJson : '/plugins/kindeditor/php/upload_json.php',
			fileManagerJson : '/plugins/kindeditor/php/file_manager_json.php',
			allowFileManager : true,
			afterCreate : function() {}
		});
		prettyPrint();
	});
	/*$(function() {
		var editor = KindEditor.create('textarea[name="content"]');
	});*/
	//单图上传
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#image1').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url1').val(url);
						editor.hideDialog();
					}
				});
			});
		});
	});
	//批量上传图片
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#J_selectImage').click(function() {
			editor.loadPlugin('multiimage', function() {
				editor.plugin.multiImageDialog({
					clickFn : function(urlList) {
						var div = K('#J_imageView');
						div.html('');
						K.each(urlList, function(i, data) {
							div.append('<img src="' + data.url + '">');
						});
						editor.hideDialog();
					}
				});
			});
		});
	});
</script>
</block>