<extend name="RBAC:base" />
<block name="content-title">
<h4>用户信息管理</h4>  
<a style="margin:5px 10px;" href="{twotree#:U('index')}" class="btn align-right">返回</a> 
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
            <div class="notification png_bg" id="dmsg" style="display:none;background:#E9E9E9;border:0px;padding:3px;">
              <a href="#" class="close">
              <img src="__PUBLIC__/Images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
              <p>&nbsp;&nbsp;编辑成功!</p>
            </div>
            <form method="post" action="{twotree#:U('edit',array('id'=>$info['id']))}">
              <fieldset>
              <neq name="info.wechatid" value="">
              	<p><a class="button">微信资料</a></p>
                <div class='block'>
              	<p>
              		微信Openid：【{twotree#$info.wechatid}】
              	</p>
                <p>
              		性　　别：【<eq name="info.sex" value='1'>男<else/><eq name="info.sex" value='2'>女<else/>未知</eq></eq>】
              	</p>
                <p>
              		微信昵称：【{twotree#$info.nickname}】
              	</p>
                </div>
                </neq>

                <p><a class="button">用户资料</a></p>
              	<div class='block'>
                <p>
              		用户头像：
                    <neq name="info.headimgurl" value="">
                    <img src="{twotree#$info.headimgurl}" class='thumb'>
                    </neq>
              	</p>
                <p>
              		登录账户：
                    <eq name="info.username" value="">
                    暂无
                    <else/>
                    【{twotree#$info.username}】
                    </eq>
              	</p>
                <p>
              		用户昵称：<input name="nickname" value="{twotree#$info.nickname}" class="text-input small-input"/>
              	</p>
                <!--<p>
              		会员级别：<select name="user_level">
                    			<volist name="user_level" id="item">
                    			<option value="{twotree#$item.id}" <eq name="info.user_level" value="$item.id">selected</eq> >{twotree#$item.title}</option>
                            	</volist>
                            </select>
              	</p>-->
                <p>
              		所属角色：<select name="role_id">
                    			<option value="1" <eq name="info.role_id" value='1'>selected</eq> >普通会员</option>
                                <option value="2" <eq name='info.role_id' value='2'>selected</eq> >微店店主</option>
                                <option value="3" <eq name='info.role_id' value='3'>selected</eq> >分销商</option>
                            </select>
              	</p>
                <p>
              		用户姓名：<input name="name" value="{twotree#$info.name}" class="text-input small-input"/>
              	</p>
              	<p>
              		用户电话：<input name="mobile" value="{twotree#$info.mobile}" class="text-input small-input"/>
              	</p>   
                <p>
              		银行卡号：【{twotree#$info.bank_card}】
              	</p>
                <p>
              		开户银行：【{twotree#$info.bank_name}】
              	</p>  
                <p>
              		现金账户：【&yen; {twotree#$info['money_account']+$info['money_dongjie']}】
                       <!-- <input name="money_account" value="{twotree#$info.money_account}" class="text-input small-input"/>-->
              	</p>
                <p>
              		积分账户：【{twotree#$info['jifen']+$info['jifen_dongjie']}】 (积分)
                       <!-- <input name="jifen" value="{twotree#$info.jifen}" class="text-input small-input"/>-->
              	</p>       	         	
                <p>
                    用户备注：<textarea class="textarea small-input v-middle" name="remark" >{twotree#$info.remark}</textarea> 
                </p> 
                </div>              
                <p>
                  <input type="submit" value="  提 交  " class="button">
                </p>
              </fieldset>
              <div class="clear"></div>
            </form>
</div>
<script>
$(function(){
	$("#redpack_amount,#redpack_use_num,#redpack_play_num").keyup(function(){
		if(isNaN($(this).val())){
			$(this).val('')
		}	
	});
});
</script>
<style>
.block{border:1px dashed #ccc;padding:10px;border-radius:3px;-box-shadow:1px 1px 1px 1px #CCC;}
</style>
</block>