<extend name="RBAC:base" />
<block name="jq"><script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script></block>
<block name="content-title">
<h4>新增会员等级</h4>
<a href="{twotree#:U('level')}" style="font-weight: 700;margin:5px 10px;" class="btn align-right">返回</a>
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">		
<form method="post" action="{twotree#:U('level_add')}" enctype="multipart/form-data">
    <fieldset>
    <p>
        等级名称：
        	<input type="text" name="title"  class="text-input small-input" required placeholder='等级名称'/> 
    </p>
    <p>
        升级条件：
        	<input type="text" name="condition"  class="text-input small-input" required placeholder='升级条件'/> 
    </p>
    <p>
       等级描述：
                <input type="text" name="descript"  class="text-input small-input" required placeholder='等级描述'/> 
    </p> 
    <p>
            <input type="submit" value="提 交" class="button">
    </p>
    </fieldset>
	<div class="clear"></div>
</form>
</div>
<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->
<script>
	KindEditor.ready(function(K) {
		//初始化编辑器
		var editor1 = K.create('textarea[name="content"]', {
			cssPath : '/plugins/kindeditor/plugins/code/prettify.css',
			uploadJson : '/plugins/kindeditor/php/upload_json.php',
			fileManagerJson : '/plugins/kindeditor/php/file_manager_json.php',
			allowFileManager : true,
			afterCreate : function() {}
		});
		prettyPrint();
	});
	/*$(function() {
		var editor = KindEditor.create('textarea[name="content"]');
	});*/
	//单图上传
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#image1').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url1').val(url);
						editor.hideDialog();
					}
				});
			});
		});
	});
	//批量上传图片
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#J_selectImage').click(function() {
			editor.loadPlugin('multiimage', function() {
				editor.plugin.multiImageDialog({
					clickFn : function(urlList) {
						var div = K('#J_imageView');
						div.html('');
						K.each(urlList, function(i, data) {
							div.append('<img src="' + data.url + '">');
						});
						editor.hideDialog();
					}
				});
			});
		});
	});
</script>
</block>