<extend name="RBAC:base" />
<block name="jq"><script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script></block>
<block name="content-title">
<h3>编辑</h3>  
<a style="margin:5px 10px;" class="btn align-right" href="{twotree#:U('index')}">返回列表</a>
</block>
<block name="content">
<div class="tab-content default-tab" id="tab1">
    <form method="post" action="{twotree#:U('edit',array('id'=>I('get.id')))}">
      <fieldset>
      	<p>
            充值金额：<input placeholder="充值金额"  required type="title" name="money"  class="text-input small-input number" value="{twotree#$info.money}"> 	
		</p>
        <p>
          <input type="submit" value="  提 交  " class="button">
        </p>
      </fieldset>
      <div class="clear"></div>
    </form>
</div>
<script>
$('.add-color').click(function(){
	if($('.option').length>=10){
		alert('最多只能增加10个');
		return false;
	}	
	var html='<span class="option"><input required name="color[]"  class="text-input small" /><i class="fa fa-minus-circle fa-lg remove" style="color:#BC1313"></i></span>';
	$(this).before(html+'&nbsp;&nbsp;');
});
$('.remove').live('click',function(){
	$(this).parent(".option").remove();
});

$('.add-size').click(function(){
	if($('.option').length>=10){
		alert('最多只能加10个');
		return false;
	}	
	var html='<span class="option"><input required name="size[]"  class="text-input small" /><i class="fa fa-minus-circle fa-lg remove" style="color:#BC1313"></i></span>';
	$(this).before(html+'&nbsp;&nbsp;');
});

</script>
<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->
<script>
	$(function(){
		$(".num").keyup(function(){
			if(isNaN($(this).val())){
				$(this).val('');
			}
		});		  
	});
	KindEditor.ready(function(K) {
		//初始化编辑器
		var editor1 = K.create('textarea[name="content"]', {
			cssPath : '/plugins/kindeditor/plugins/code/prettify.css',
			uploadJson : '/plugins/kindeditor/php/upload_json.php',
			fileManagerJson : '/plugins/kindeditor/php/file_manager_json.php',
			allowFileManager : true,
			afterCreate : function() {}
		});
		prettyPrint();
	});
	/*$(function() {
		var editor = KindEditor.create('textarea[name="content"]');
	});*/
	//单图上传
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#image1').click(function() {
			editor.loadPlugin('image', function() {
				editor.plugin.imageDialog({
					imageUrl : K('#url1').val(),
					clickFn : function(url, title, width, height, border, align) {
						K('#url1').val(url);
						//var img = url.replace(/(\*)\./,"thumb_$1"); 
						K('#thumb').attr('src',url);
						editor.hideDialog();
					}
				});
			});
		});
	});
	//批量上传图片
	KindEditor.ready(function(K) {
		var editor = K.editor({
			allowFileManager : true
		});
		K('#J_selectImage').click(function() {
			editor.loadPlugin('multiimage', function() {
				editor.plugin.multiImageDialog({
					clickFn : function(urlList) {
						var div = K('#J_imageView');
						div.html('');
						K.each(urlList, function(i, data) {
							div.append('<img src="' + data.url + '">');
						});
						editor.hideDialog();
					}
				});
			});
		});
	});
</script>
</block>