<extend name="RBAC:base" />
<block name="jq"><script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script></block>
<block name="content-title">
<h4><if condition="I('get.id') gt 0">[修改]<else/>[新增]</if>图文消息内容</h4>  
</block>
<block name="content">
      
<div class="tab-content default-tab" id="tab1">
<link href="/plugins/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>	
<script type="text/javascript">
$(document).ready(function() {
  $(".text-radio").click(function(){
    var ckv = $(".text-radio:checked").val();
    if(ckv==1){
      $(".column-right").css("display","none");
      $(".column-left").css("display","none");
    }else{
      $(".column-right").css("display","");
      $(".column-left").css("display","");
    }
  });

});

</script> 
</div>
</block>

<block name="box">
    
<form action="{twotree#:U('menuaddrep',array('id'=>I('get.id'),'tid'=>I('get.tid')))}" method="post" enctype="multipart/form-data">
        <p>
            菜单标题：<input required="" type="text" name="title" id="small-input" class="text-input medium-input" value="{twotree#$news.Title}">
        </p>
        <p>
            菜单描述：<input required="" type="text" name="descrip" id="small-input" class="text-input medium-input" value="{twotree#$news.Description}">
        </p>
<!--        <p>                    
        菜单图片：<input  id="pic1" type="file" onchange="document.getElementById('picurl1').value=this.value;" style="display:none;" name="spic[]">
        <input required="" name='picurl' id="picurl1" class="text-input medium-input" type="text" value="{twotree#$news.PicUrl}">&nbsp;
                <a class="btn" onclick="document.getElementById('pic1').click();">选择文件</a>
        </p>-->
        <p>
            菜单图片：
            <input readonly name="picurl" type="text" id="url1" value="{twotree#$news.PicUrl}" class="text-input medium-input"/> 
            <input type="button" id="image1" value="选择图片" class="button"/>
            <font style="color:red">&nbsp;【图片大小不能超过1M】</font>
            </p>
        <p>  
        <p>                                
            菜单链接： <input type="text" name="url" id="small-input" class="text-input medium-input" value="{twotree#$news.Url}">
                  <select id='selfurl'>
                           <option value=''>—选择系统模块—</option>
         					<option value="{twotree#:U('Index/Index/index')}">最新活动</option>
            				<option value="{twotree#:U('Index/Index/prise')}">我的礼包</option>
                            <option value="{twotree#:U('Index/Index/ucenter')}">个人中心</option>
                            <option value="{twotree#:U('Index/Index/photo')}">吃货自拍</option>
                            <option disabled="disabled">—系统栏目—</option>
                            <volist name='sortlist' id='val'>
                                <option value="{twotree#:U('Index/Index/lists',array('fid'=>$val['id']))}">{twotree#$val.name}</option>
                            </volist>
                   </select>
        </p>
    <p>
      <input name='tid' type="hidden" value="{twotree#:I('get.tid')}">
      <input type="submit" value="  保 存 图 文  " class="button">
    </p>
</form>
<div class="clear" id="bef"></div>
<script>
  $(function(){
	  $('#selfurl').change(function(){
		  $("input[name='url']").val($(this).val());
	  });
  });
</script>
<!--kindeditor-->
<link rel="stylesheet" href="/plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="/plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/plugins/kindeditor/lang/zh_CN.js"></script>
<!--kindeditor-->         
<script>
$(function(){
  $('#selfurl').change(function(){
	  $("input[name='url']").val($(this).val());
  });
});
//单图上传
KindEditor.ready(function(K) {
	var editor = K.editor({
		allowFileManager : true
	});
	K('#image1').click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				imageUrl : K('#url1').val(),
				clickFn : function(url, title, width, height, border, align) {
					K('#url1').val(url);
					editor.hideDialog();
				}
			});
		});
	});
});
</script>
</block>
