<extend name="RBAC:base" />
<block name="content-title">
<h4>CMS模型管理</h4>  
</block>
<block name="content">
          <div class="tab-content default-tab" id="tab1">
            <div class="notification png_bg" id="dmsg" style="display:none;">
              <a href="#" class="close"><img src="__PUBLIC__/Images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
              <div>
                msg.
              </div>
            </div>
            <table>
              <thead>
                <tr>
                   <th>模型ID</th>
                   <th>模型标识</th>
                   <th>模型名称</th>
                   <th>操作</th>
                </tr>
              </thead>

              <tbody>
                <volist name="plist" id="v">
                    <tr>
                      <td>【{twotree#$v.id}】</td>
                      <td><a href="#" title="title">{twotree#$v.name}</a></td>
                      <td>{twotree#$v.title}</td>
                      <td>
                         <a class="btn btn-success" href="{twotree#:U('confModel',array('id'=>$v['id']))}" title="Edit">配置</a>
                         <a class="btn btn-danger" href="{twotree#:U('delModel',array('id'=>$v['id']))}" onClick="return confirm('是否将此模型删除?')" title="Delete">删除</a> 
                      </td>
                    </tr>
                </volist>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="6">
                    <div class="bulk-actions align-left">

                    </div>
                    <div class="pagination">

                    </div>
                    <div class="clear"></div>
                  </td>
                </tr>
              </tfoot>              
            </table>
          </div> <!-- End #tab1 -->  
</block>  
